@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-left {
  animation: fadeLeft 0.5s ease-out forwards;
}

.animate-fade-right {
  animation: fadeRight 0.5s ease-out forwards;
}